@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
}
html body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "League Spartan";
  padding: 0 50px 0 50px;
  background: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}
html body main .text-section {
  display: flex;
  flex-direction: row;
  color: hsl(300deg, 43%, 22%);
  height: 50%;
  padding: 50px;
}
html body main .text-section h1 {
  font-weight: 700;
}
html body main .text-section .info-section {
  width: 50%;
  padding: 0 200px 0 20px;
}
html body main .text-section .ratings-section {
  font-weight: 700;
}
html body main .text-section .ratings-section p {
  background-color: hsl(300deg, 24%, 96%);
  padding: 15px 10px 15px 10px;
}
html body main .text-section .ratings-section p .star-icons {
  padding-right: 20px;
}
html body main .text-section .ratings-section p .star-icons img {
  padding: 3px;
}
html body main .text-section .ratings-section p br {
  display: none;
}
html body main .text-section .ratings-section .rating-2 {
  position: relative;
  left: 35px;
}
html body main .text-section .ratings-section .rating-3 {
  position: relative;
  left: 70px;
}
html body main .cards-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 40px 0 40px;
}
html body main .cards-section .card {
  width: 350px;
  height: 220px;
  background-color: hsl(300deg, 43%, 22%);
  color: hsl(300deg, 24%, 96%);
  padding: 30px;
}
html body main .cards-section .card .card-top-section {
  display: flex;
  flex-direction: row;
}
html body main .cards-section .card .card-top-section img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
html body main .cards-section .card .card-top-section p {
  padding-left: 10px;
}
html body main .cards-section .card .card-top-section p .verified {
  color: hsl(333deg, 80%, 67%);
}
html body main .cards-section .card-2 {
  position: relative;
  top: 20px;
}
html body main .cards-section .card-3 {
  position: relative;
  top: 40px;
}
@media (max-width: 1260px) {
  html body {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  html body main {
    padding: 0 10px 0 10px;
  }
  html body main .text-section {
    padding: 30px 0px 0px 30px;
  }
  html body main .text-section .info-section {
    padding: 0 100px 0 20px;
  }
  html body main .cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  html body main .cards-section .card-1 {
    grid-column: 1;
    grid-row: 1;
  }
  html body main .cards-section .card-2 {
    grid-column: 3;
    grid-row: 1;
    top: 0;
  }
  html body main .cards-section .card-3 {
    grid-column: 2;
    grid-row: 2;
    top: 0;
  }
  html body footer {
    padding: 80px 0px 20px 0px;
  }
}
@media (max-width: 1100px) {
  html body main .text-section .info-section {
    padding: 0 50px 0 20px;
  }
  html body main .text-section .ratings-section .rating-2 {
    left: 0px;
  }
  html body main .text-section .ratings-section .rating-3 {
    left: 0px;
  }
  html body main .cards-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  html body main .cards-section .card-1 {
    grid-column: 1;
    grid-row: 1;
  }
  html body main .cards-section .card-2 {
    grid-column: 2;
    grid-row: 2;
    top: 0;
  }
  html body main .cards-section .card-3 {
    grid-column: 1;
    grid-row: 3;
    top: 0;
  }
}
@media (max-width: 750px) {
  html body main {
    align-items: center;
    justify-content: center;
    background: url("images/bg-pattern-top-mobile.svg"), url("images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
  }
  html body main .text-section {
    flex-direction: column;
    text-align: center;
  }
  html body main .text-section .info-section {
    width: 100%;
    padding: 0 20px 0 20px;
  }
  html body main .text-section .ratings-section p {
    line-height: 0.7cm;
  }
  html body main .text-section .ratings-section p br {
    display: block;
  }
  html body main .cards-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}/*# sourceMappingURL=styles.css.map */